body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.app {
    display: flex;
    height: 100vh;
}

.camera-box {
    position: relative;
    width: 70%;
    background: black;
}

video,
canvas {
    position: absolute;
    width: 100%;
    height: 90%;
}

.panel {
    width: 30%;
    padding: 30px;
    background: #ffffff;
    border-left: 2px solid #ccc;
}

.panel h2 {
    margin-bottom: 40px;
}

.panel button {
    display: block;
    width: 120px;
    padding: 10px;
    margin: 15px 0;
    font-size: 16px;
}